<section class="cash-wallet">
  <div class="cash-wallet__content">
    <div class="cash-wallet__icon-wrap" aria-hidden="true">
      <img class="cash-wallet__icon" src="/icons/wallet.svg" alt="" />
    </div>

    <div class="cash-wallet__text">
      <h3 class="cash-wallet__title">Cash Cards</h3>
      <p class="cash-wallet__amount">${{ balance() | number:'1.2-2' }}</p>
    </div>
  </div>

  <div class="cash-wallet__actions">
    <button class="cash-wallet__button" type="button" (click)="onTopUp()">
      <img class="cash-wallet__button-icon" src="/icons/overview-info.svg" alt="" aria-hidden="true" />
      <span>Top Up</span>
    </button>
  </div>
</section>
